<%= simple_form_for application do |f| %>

<table class="loginPage" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr style="border-bottom:#e2e2e2 solid 1px; font-size:25px;">
    <td colspan="2">添加应用</td>
  </tr>
  <tr>
    <td width="22%" align="right"><strong>应用名称：</strong></td>
    <td width="78%" align="left">
      <%= f.text_field :name, class: 'shuru', size: '30' %>
    </td>
  </tr>   
  <tr>
    <td width="22%" align="right"><strong>所属单位：</strong></td>
    <td width="78%" align="left">
      <%= f.association :unit, :label => false %>
    </td>
  </tr>  
  <tr>
    <td width="22%" align="right"><strong>URL：</strong></td>
    <td width="78%" align="left">
      <%= f.text_area :redirect_uri, class: 'shuru', size: '30' %>
    </td>
  </tr> 
  <tr>
    <td colspan="2" align="center">
      <%= f.submit "保存", :class => "btn" %>
      <%= link_to "取消", oauth_applications_path %>
    </td>
  </tr>
</table>
<% end %>
