<div style="width:800px; background:#eee; margin:120px auto 40px auto;">
  <table class="loginPage" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr style="border-bottom:#e2e2e2 solid 1px; font-size:25px;">
    <td colspan="5">管理应用&nbsp;&nbsp;<%= link_to '添加应用', new_oauth_application_path %></td>
  </tr>
  <tr>
    <th>应用名称</th>
    <th>所属单位</th>
    <th>URL</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @applications.each do |application| %>
    <tr id="application_<%= application.id %>">
      <td><%= link_to application.name, oauth_application_path(application) %></td>
      <td><%= application.unit.name if application.unit %></td>
      <td><%= application.redirect_uri %></td>
      <td><%= link_to 'Edit', edit_oauth_application_path(application), class: 'btn btn-link' %></td>
      <td><%= render 'delete_form', application: application %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>