<div style="width:800px; background:#eee; margin:120px auto 40px auto;">
	<%= form_for @user, url: { :action => "checklogin" }, :class => "form-horizontal" do |f| %>
          <%= hidden_field_tag :id, @authorize_id %>
          <%= render partial: "layouts/notice" %>
		<table class="loginPage" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr style="border-bottom:#e2e2e2 solid 1px; font-size:25px;">
    <td colspan="2">登录</td>
    </tr>
  <tr>
    <td width="120" align="right">帐号：</td>
    <td width="580"><%= f.text_field :account, :class => "shuru", :autofocus => '' %></td>
  </tr>
  <tr>
    <td align="right">密码：</td>
    <td><%= f.password_field :pwd, :class => "shuru" %></td>
  </tr>
  <tr>
    <td align="right">&nbsp;</td>
    <td><input class="btn" name="" type="submit" value="登录">&nbsp;&nbsp;忘记密码？<a href="/index/forget">点击找回</a></td>
  </tr>
  <tr>
    <td align="right">&nbsp;</td>
    <td><!--<a class="link" href="###">忘记密码？</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="link" href="zc.html">注册新账号</a>--></td>
  </tr>
</table>
<% end %>

	</div>