<tr>
    <td align="center"><%= user.role.name if user.role %></td>
    <td align="center"><%= link_to user.name, user_path(user) %></td>
    <td align="center"><%= user.account %></td>
    <td align="center">
        <% user.klasses.each do |klass| %>
        <%= "#{klass.year}级#{klass.name}班" %>&nbsp;&nbsp;
        <% end %>
    </td>
    <td align="center"><%= user.department.name if user.department %></td>
    <td align="center"><%= user.duty.name if user.duty %></td>
    <td align="center">
        <% if [3,4].include? user.role_id %>
        <%= link_to "设置班级", users_set_klass_path(id: user.id) %>
        <% end %>
        <% if [2,3].include? user.role_id %>
        <%= link_to "设置学科", users_set_subject_path(id: user.id) %>
        <% end %>
    	<%= link_to "修改", edit_user_path(user) %>
        <%= link_to "删除", user_path(user), :method => :delete, data: { confirm: "确定要删除吗" } %>
    </td>
</tr>