<div style="width:1000px; background:#eee; margin:0px auto 40px auto;">
<%= render partial: "layouts/notice" %>
<%= simple_form_for @unit do |f| %>
  <%= hidden_field_tag("reg_from", @from) %>
    <table class="loginPage" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr style="border-bottom:#e2e2e2 solid 1px; font-size:25px;">
    <td colspan="2">注册</td>
    </tr>
  <tr>
    <td width="22%" align="right"><strong>单位名称：</strong></td>
    <td width="78%" align="left">
      <%= f.input_field :name, class: 'shuru', size: '30' %><%= f.hint '*' %><%= f.error :name %>
    </td>
  </tr>
  <tr>
    <td width="22%" align="right"><strong>单位类型：</strong></td>
    <td width="78%" align="left"><%= f.association :unit_type, label: false, include_blank: false %></td>
  </tr>
  <%= f.fields_for :users do |b| %>
    <tr>
      <td width="22%" align="right"><strong>管理员帐号：</strong></td>
      <td width="78%" align="left"><%= b.text_field :account, :class => "shuru", :size => "30" %><%= f.hint '*请输入邮箱或手机号做为帐号' %>&nbsp;&nbsp;<%= b.error :account %></td>
    </tr> 
    <tr>
      <td width="22%" align="right"><strong>管理员密码：</strong></td>
      <td width="78%" align="left"><%= password_field_tag 'pwd', nil, :class => "shuru", :size => "30" %><%= f.hint '*密码长度不能少于6位' %>&nbsp;&nbsp;<%= b.error :pwd %></td>
    </tr>
    <tr>
      <td width="22%" align="right"><strong>确认密码：</strong></td>
      <td width="78%" align="left"><%= password_field_tag 'pwd_confirmation', nil, :class => "shuru", :size => "30" %><%= f.hint '*' %></td>
    </tr>
  <% end %>
  <tr>
    <td align="center" colspan="2">
      <%= f.submit "保存", :class => "btn" %>
    </td>
  </tr>
  <tr>
    <td align="right">&nbsp;</td>
    <td><!--<a class="link" href="###">忘记密码？</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="link" href="zc.html">注册新账号</a>--></td>
  </tr>
</table>
<% end %>

  </div>